<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="baidu-site-verification" content="goQb9FjRVW" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - record & share</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta http-equiv="Cache-Control" content="no-transform">

  <link rel="stylesheet" href="{{ "/res/css/reset.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/res/css/typo.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/res/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/res/css/rework.min.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/res/css/highlight.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

</head>
